@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

html {
  height: 100%;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
.navigation {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: calc(100% / 2 - 138px);
  list-style-type: none;
}

.logo-sedona {
  display: block;
  margin: 0 auto;
}

.navigation-user {
  justify-content: flex-end;
  width: calc(100% / 2 - 138px);
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-link {
  display: block;
  padding: 19px 17px 20px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}


/*page*/

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/**/

/*welcome*/

.logo-welcome-wrap {
  background: url("../images/divider.svg") bottom no-repeat, url("../images/index-background.jpg") no-repeat;
  background-size: 100% auto;
  text-align: center;
}

.logo-welcome {
  padding-top: 50px;
  padding-bottom: 80px;
}

.sedona-text {
  width: 720px;
  margin: 0 auto;
  padding-top: 63px;
  padding-bottom: 79px;
}

.section-title {
  margin: 0 0 23px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.section-text {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

/**/

/*advantages and advices*/

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advices-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advice-item,
.advantages-item:nth-last-child(-n+3) {
  width: 400px;
  text-align: center;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(3) {
  display: flex;
  width: 1200px;
  color: #FFFFFF;
  background-color: #83B3D3;
}


.advice-item:nth-child(odd),
.advantages-item:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(6),
.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title,
.advice-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description,
.advantages-number {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.advantages-description, .advice-description {
  margin: 0;
  padding-left: 75px;
  padding-right: 75px;
}

.advantages-item:nth-child(1) .advantages-description,
.advantages-item:nth-child(3) .advantages-description{
  padding-left: 90px;
  padding-right: 90px;
}

.advantages-title {
  margin-top: 98px;
  margin-bottom: 0;
}

.advantages-item:nth-last-child(-n+3) .advantages-description{
  margin-bottom: 80px;
}

.advantages-number {
  margin: 25px 0px 26px;
}

.advice-icon-home {
  margin-top: 89px;
}

.advice-icon-food {
  margin-top: 91px;
}

.advice-icon-souvenirs {
  margin-top: 85px;
}

.advice-title {
  margin-top: 23px;
  margin-bottom: 20px;
}

.advice-description {
  margin-bottom: 79px ;
}

/**/

/*hotel search*/

.hotel-search-wrapper {
  width: 720px;
  margin: 91px auto;
}

.hotel-search-title {
  margin-bottom: 15px;
}
.hotel-search-text {
  margin-bottom: 59px;
  line-height: 26px;
}

.search-link {
  display: block;
  width: 575px;
  margin: 0 auto;
  text-align: center;
}
/**/

/*newsletter*/

.newsletter {
  background-image: url("../images/background-newsletter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.newsletter-wrapper {
  width: 800px;
  margin: 0 auto;
  padding: 94px 0 93px;
}

.newsletter-title {
  margin-bottom: 15px;
}

.newsletter-text {
  line-height: 26px;
  margin-bottom: 50px;
}

.newsletter-form {
  width: 100%;
  margin: 0 auto;
}
/**/

/*footer*/

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  padding: 40px 0 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social {
  width: 110px;
}

.footer-contact-phone {
  width: 720px;
}

.footer-html-academy {
  width: 115px;
}


.address-phone {
  display: block;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

/**/

/*catalog*/
.inner-header-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.sorting-wrapper {
  width: 1200px;
  background-image: url("../images/catalog-background_1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.sorting-container {
  width: 1060px;
  margin: 0 auto;
}

/*filter catalog*/

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.sort-right, .sort-left {
  display: flex;
  flex-basis: 50%;
}

.sort-right {
  justify-content: space-between;
}

.infrastructure {
  width: 150px;
  margin-right: 70px;
}

.type-of-housing {
  width: 150px;
}

.price {
  width: 290px;
}

.filter-button {
  width: 160px;
}


.control-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

/**/

.catalog-products {
  width: 1060px;
  margin: 0 auto;
}

/*location of cards*/
.amount-found {
  flex-basis: 50%;
}

.location-of-cards {
  display: flex;
  flex-wrap: wrap;
}

.location-of-cards-wrapper {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
}

.sort-by-price {
  width: 290px;
}

.location-of-cards-button {
  width: 160px;
}

/**/
.amount-found {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
  text-transform: uppercase;
}

.hostel-card-link {
  text-decoration: none;
  color: inherit;
}

.hostel-card-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
}

.hostel-card-value,
.hostel-card-price,
.number-of-hotels {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.hostel-rating {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.button-show-more {
  color: #FFFFFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  background: #83B3D3;
}

/*pagination*/
.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 370px;
}

.pagination-item {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}

.pagination-link {
  color: #FFFFFF;
  background: #83B3D3;
}

.pagination-current {
  color: #242424;
  background-color: #FFFFFF;
}

.number-of-hotels-form {
  width: 386px;
}

/**/


