@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

li {
  list-style: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.logo-welcome-wrap {
  background-image: url("/images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.section-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(3) {
  color: #FFFFFF;
  background-color: #83B3D3;
}


.advice-item:nth-child(odd),
.advantages-item:nth-child(5)
{
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title,
.advice-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.advantages-description,
.advantages-number {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.newsletter {
  background-image: url("/images/background-newsletter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.address-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  font-style: normal;
}
