@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

html {
  height: 100%;
}

li {
  list-style: none;
}

/*header*/
.navigation {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: calc(100% / 2 - 138px);
}

.logo-sedona {
  display: block;
  margin: 0 auto;
}

.navigation-user {
  width: calc(100% / 2 - 138px);
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}



/*page*/

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}


.section-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.section-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
/**/

/*welcome*/

.logo-welcome-wrap {
  background: url("../images/divider.svg") bottom no-repeat, url("../images/index-background.jpg") no-repeat;
  background-size: 100% auto;
  text-align: center;
}

.sedona-text {
  width: 720px;
  margin: 0 auto;
}
/**/

/*advantages and advices*/

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advices-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.advice-item,
.advantages-item:nth-last-child(-n+3){
  width: 400px;
  text-align: center;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(3) {
  display: flex;
  width: 1200px;
  color: #FFFFFF;
  background-color: #83B3D3;
}


.advice-item:nth-child(odd),
.advantages-item:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(6),
.advantages-item:nth-child(4){
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title,
.advice-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.advantages-description,
.advantages-number {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
/**/

/*hotel search*/

.hotel-search-wrapper {
  width: 720px;
  margin: 0 auto;
}
/**/

/*newsletter*/

.newsletter {
  background-image: url("../images/background-newsletter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.newsletter-wrapper {
  width: 800px;
  margin: 0 auto;
}
/**/

/*footer*/

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.footer-social {
  width: 110px;
}

.footer-contact-phone {
  width: 720px;
}

.footer-html-academy {
  width: 115px;
}


.address-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  font-style: normal;
}
/**/

/*catalog*/

.sorting-wrapper {
  background-image: url("../images/catalog-background 1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.inner-header-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.control-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.amount-found {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
  text-transform: uppercase;
}

.hostel-card-link {
  text-decoration: none;
  color: inherit;
}

.hostel-card-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
}

.hostel-card-value,
.hostel-card-price,
.number-of-hotels {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.hostel-rating {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

/*pagination*/

.pagination-show-more {
  color: #FFFFFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  background: #83B3D3;
}

.pagination-item {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}

.pagination-link {
  color: #FFFFFF;
  background: #83B3D3;
}

.pagination-current {
  color: #242424;
  background-color: #FFFFFF;
}
/**/

